<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keduit.mapper.TodoMapper">

<sql id="criteria">
<trim prefix="(" suffix=") and " prefixOverrides="or">
       		<foreach item='type' collection="typeArr">
       			<trim prefix="or">
       				<choose>
       					<when test="type=='T'.toString()">
       						todoDate like '%'||#{keyword}||'%'
       					</when>
       					<when test="type=='C'.toString()">
       						content like '%'||#{keyword}||'%'
       					</when>
       				</choose>
       			</trim>
       			       		</foreach>
       </trim>
</sql>

	<select id="getList" resultType="com.keduit.domain.TodoVO">
		select * from todoList order by no desc
	</select>
	
<select id="getListWithPaging"  resultType="com.keduit.domain.TodoVO">
  select no, todoDate, content, regDate, updateDate from(
   select /*+ index_desc(todoList pk_list) */
         rownum rn, no, todoDate, content, regDate, updateDate
       from todoList
       where 
       <include refid="criteria"></include>
       
  <![CDATA[
       rownum <= #{pageNum} * #{amount}
       )
   where rn > (#{pageNum} - 1) * #{amount}
  ]]>
  </select>
	
	
	<insert id="insert">
 	 insert into todolist(no, todoDate, content)
     values (seq_list.nextval, #{todoDate},  #{content})
  	</insert>
  	
  	<insert id="insertSelectKey">
  		<!-- order란 인설트 전에 selectkey 먼저실행    		-->
  		<selectKey keyProperty="no" order="BEFORE" resultType="long">
  			SELECT seq_list.nextval from dual
  		</selectKey>
  		
  		INSERT INTO todolist(no, todoDate, content)
  		VALUES (#{no}, #{todoDate}, #{content})
  	</insert>
  	
  	<select id="read" resultType="com.keduit.domain.TodoVO">
  		SELECT * FROM todolist WHERE no = #{no}
  	</select>
  	
  	<delete id="delete">
  		DELETE FROM todolist WHERE no = #{no}
  	</delete>
  	
  	<update id="update">  	
  		<selectKey keyProperty="updateDate" order="BEFORE" resultType="date">
  			SELECT sysdate-1 from dual
  		</selectKey>
  	
  		UPDATE todolist SET no = #{no},
  							 todoDate = #{todoDate},
  							 content = #{content},
  							 updatedate = #{updateDate}
  							 WHERE no = #{no}
  	</update>
  	
  	<select id="getTotalCount" resultType="int">
  		select count(*) from todolist where 
  		
  		<include refid="criteria"></include>
  		
  		no > 0
  	</select>
  	
</mapper>
